$xs-screen: 767px;
$xs-screen-375: 375px;
$xs-screen-425: 425px;
$md-screen: 768px;
$md-screen-max: 1023px;
$lg-screen: 1024px;
$lg-screen-max: 1199px;
$xlg-screen: 1200px;


@mixin for-size($size) {
    @if $size == xs-device {
        @media (max-width: $xs-screen) {
            @content;
        }
    }

    @else if $size == tablet-device {
        @media (min-width: $md-screen) {
            @content;
        }
    }

    @else if $size == tablet-portrait {
        @media ((min-width: $md-screen) and (max-width: $md-screen-max)) {
            @content;
        }
    }

    @else if $size == tablet-only {
        @media ((min-width: $md-screen) and (max-width: $lg-screen)) {
            @content;
        }
    }

    @else if $size == tablet-landscape-and-above {
        @media (min-width: $lg-screen) {
            @content;
        }
    }

    @else if $size == lg-screen {
        @media (min-width: 1200px) {
            @content;
        }
    }
}