@import "../../assets/styles/global.scss";

.search-banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    .search-input-container {
        position: relative;
        flex: 1;

        @include for-size(xs-device) {
            width: 100%;
        }

        .search-input {
            @extend .form-control;

            &::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #fff;
                opacity: 1;
                /* Firefox */
            }

            &:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: #fff;
            }

            & ::-ms-input-placeholder {
                /* Microsoft Edge */
                color: #fff;
            }
        }

        .search-icon-wrapper {
            position: absolute;
            right: 5%;
            color: #fff;
            font-size: 35px;
            top: 10%;

            .search-icon {
                display: block;
            }

            .search-arrow-icon {
                display: none;
            }

            .hide-icon {
                display: none;
            }

            .show-icon {
                display: block;
            }
        }

        @include for-size(tablet-device) {
            width: 70%;
        }

        @include for-size(tablet-portrait) {
            width: 100%;
        }
    }

    .search-intro-text {
        flex: 1;
        margin-bottom: 50px;
        text-align: left;

        @include for-size(xs-device) {
            text-align: center;
            margin: 20px 0;
        }

        .intro-text {
            font-size: 40px;
            margin: 10px 0;
            font-weight: bold;
            color: #384951;

            @include for-size(tablet-portrait) {
                font-size: 30px;
            }

            @include for-size(xs-device) {
                font-size: 30px;
            }
        }
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate__fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.animate__animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.animate__fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}